// stripping styles

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

// images?

.wrapper {
    width: 85%;
    // TODO switch back to 1400px
    max-width: 1500px;
    margin: 0 auto;
}

// PAGE COLOUR VARIABLES
$lightCyan: #c7eae4;
$caputMortuum: #562c2c;
$spaceCadet: #192a51;

//  INSTRUMENT COLOUR VARIABLES
$recordingStudioBackground: teal;
    // also used for jack input inset and string bottom nodes
    // amp speaker gradient
$recordingStudioFloor: grey;

    // SECTION colours specific to the instruments
    // keyboard
        // sheet music, baseboard, amp control panel
        // AG: centre of bottom nodes
$white: white;
        // music stand, keyboard, keyboard stand
        // AG: bottom node border
        // EG: pickup shadows, pickup selector, switch shadow, tone knob shadow, tremolo handle shadow + end shadow, string bottom node shadows
        // all guitars: guitar stand, amp
        // drums: tripod feet
$black: black;

    // all guitars
        // tuning pegs, bridge, pickups, tremolo bar, tremolo handle, jack input, string top nodes
        // amp speaker, knobs + inputs
    // drums: stands, drum rims
$silver: silver;
        // rosewood fretboard, acoustic guitar head, acoustic guitar pickguard
$rosewood: #4b0000;
        // nut at top of fretboard
$nut: #fffdd0;
        // strings
$bronze: #b08d57;

    // acoustic guitar
        // guitar body
$spruce: #e1b37e;
        // sound hole
$darkSpruce: #c67f48;
        // sound hole rings
$darkBrown: #815b40;

    // electric guitar
        // guitar head
        // BG: fretboard
$guitarHead: #e9cda5;
        // sunburst colours for body
$sunburstOrange: #ca731e;
$sunburstRed: #a42012;
$sunburstBlack: #1c0e06;
    // pick guard, pickup bars, tone knobs, pickup switch, tremolo handle end
$cream: #edece8;

    // bass guitar
        // body
$lakePlacidBlue: #1d5b81;
        // pick guard
$almostBlack: #030001;

    // drums
        // body
$cranberry: #861819;
$darkCranberry: #4a1713;
        // cymbals
$gold: #d4c3a6;
        // drum skins
$tan: #d2a180;
$bassSkin: #21221c;
