// stylesheet for each of the instruments that will appear in the .recordingStudio container

// SECTION all instruments
    // background
.bassGuitar,
.electricGuitar,
.drumKit,
.keyboard,
.acousticGuitar {
    background: $recordingStudioBackground;
    width: 300px;
    height: 400px;
}

    // top section of background
        // REVIEW drums and bass
.keyboard .top,
.guitar,
.stratocaster {
    width: 100%;
    height: 55%;
    position: relative;
}

    // top section of guitars
        // REVIEW double check against bass strings
.guitar .top,
.stratocaster .top {
    width: 100px;
    height: 200px;
    position: relative;
    margin: 0 auto;
    padding-top: 15px;

    .head {
        z-index: 10;
    }

    .head, .tuningPegs, .tuningBars {
        position: absolute;
    }

    .tuningPegs .tuningPeg {
        width: 3px;
        height: 3px;
        background: $silver;
    }

    .tuningBars .tuningBar {
        width: 100%;
        height: 1px;
        background: $silver;
    }

    .neck {
        width: 18px;
        height: 150px;
        background: $rosewood;
        // frets
        background: $fretboard;
        border-top: 1px solid $nut;
        position: absolute;
        left: calc(50% - 9px);
        z-index: 20;
    }
}

    // guitar strings
        // REVIEW double check against bass strings
.strings {
    width: 18px;
    height: 260px;
    position: absolute;
    left: calc(50% - 9px);
    z-index: 20;

    .topNodes {
        width: 100%;
        height: 30px;
        position: relative;
        z-index: 10;

        .topNode {
            background: $silver;
            border-radius: 50%;
            position: absolute;
        }
    }
}

.flexString {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;

    .string {
        width: 1px;
        background: $bronze;
        position: relative;

        .bottomNode {
            width: 1px;
            position: absolute;
            bottom: 0;
        }
    }
}

    // guitar stand
        // REVIEW double check against bass strings
.guitarStand {
    position: relative;
    width: 100%;
    height: 30%;
    border-bottom: 10px solid $white;

    .topBrace, .bottomBrace {
        display: flex;
        justify-content: center;
    }

    .topBrace, .bottomBrace, .stand {
        width: 100%;
        height: auto;
        position: absolute;
    }

    .topBrace {
        top: -25px;
    }

    .bottomBrace .circle {
        margin: 18px;
    }

    .circle {
        width: 7px;
        height: 7px;
        background: $black;
        border-radius: 50%;
        margin: 9px;
    }
    
    .stand {

        .legs {
            width: 50px;
            height: 5px;
            background: $black;
            margin: 0 auto;
        }

        .leg1 {
            transform: translate(-20px, 5px) rotate(-30deg);
        }
        
        .leg2 {
            transform: translateY(-25px) rotate(90deg);
        }

        .leg3 {
            transform: translate(20px, -5px) rotate(30deg);
        }
    }
}


.floor {
    width: 100%;
    height: 15%;
    background: $recordingStudioFloor;
}

// SECTION keyboard
.top {

    // TODO try using flex for the bars in the stand instead of positioning?
    .musicStand {
        width: 60px;
        height: 30px;
        background: $white;
        position: absolute;
        bottom: 30px;
        left: 120px;

        .horizontalBar {
            background: $black;
            width: 100%;
            height: 5px;
            position: absolute;
        }

        .bar1 {
            border-radius: 10px 10px 0 0;
        }

        .bar2 {
            top: calc(50% - 2.5px);
        }

        .bar3 {
            bottom: 0;
        }

        .verticalBar {
            background: $black;
            width: 50%;
            height: 5px;
            transform: rotate(90deg);
            position: absolute;
        }
        .bar4, .bar5, .bar6, .bar7, .bar8 {
            top: 50%;
        }

        .bar4 {
            left: -12.5px;
        }

        .bar5 {
            left: 1px;
        }

        .bar6 {
            left: 25%;
        }

        .bar7 {
            right: 1px;
        }

        .bar8 {
            right: -12.5px;
        }
    }

    .keys {
        background: $black;
        width: 160px;
        height: 30px;
        position: absolute;
        bottom: 0;
        left: 70px;

        &::before, &::after {
            content: "";
            width: 0;
            height: 30px;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            position: absolute;
        }
        
        &::before {
            border-right: 10px solid $black;
            left: -10px;
        }

        &::after {
            border-left: 10px solid $black;
            right: -10px;
        }
    }
}

.keyboardStand {
    position: relative;
    width: 100%;
    height: 30%;
    border-bottom: 10px solid $white;

    .legs {
        background: $black;
        width: 200px;
        height: 10px;
        position: absolute;
        top:60%;
        left: 50px;
    }

    .leg1 {
        transform: rotate(135deg);
    }

    .leg2 {
        transform: rotate(-135deg);
    }

    .feet {
        background: $black;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        position: absolute;
    }

    .foot1, .foot2 {
        top: -5px;
    }

    .foot1, .foot3 {
        left: 75px;
    }

    .foot2, .foot4 {
        right: 63px;
    }

    .foot3, .foot4 {
        bottom: -35px;
    }
}

// SECTION acoustic guitar
.guitar {

    .top {

        .head {
            width: 34px;
            height: 34px;
            background: $rosewood;
            clip-path: polygon(15% 0, 85% 0, 80% 100%, 20% 100%);
            bottom: 89px;
            left: calc(50% - 17px);
        }

        .tuningPegs, .tuningBars {
            width: calc(100%/3);
            left: calc(100%/3);
        }

        .tuningPegs {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: space-between;
            height: 24px;
            bottom: 94px;

            .tuningPeg {
                margin-bottom: 5px;
            }
        }

        .tuningBars {
            height: auto;
            bottom: 100px;
            
            .tuningBar {
                margin-top: 7px;
            }
        }

        .neck {
            bottom: -61px;
        }
    }

    .body {
        width: 100px;
        height: 150px;
        margin: 0 auto;
        position: relative;
        z-index: 10;

        .topHalf, .bottomHalf {
            background: $spruce;
        }

        .topHalf,
        .bottomHalf,
        .side,
        .pickGuard,
        .soundHole,
        .bridge {
            position: absolute;
        }

        .topHalf {
            width: 75%;
            height: 50%;
            border-radius: 50% 50% 50% 50% / 36% 36% 64% 64%;
            left: calc(50% - (75%/2));
            top: 20px;
        }

        .bottomHalf {
            width: 100%;
            height: (2 * 100%/3);
            border-radius: 50% 50% 50% 50% / 65% 65% 35% 35%;
            bottom: -10px;
        }

        .side {
            width: 15px;
            height: 26px;
            background: transparent;
            border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-left: 7px solid $spruce;
            top: 57px;
            right: 8px;
        }

        .leftSide {
            height: 27px;
            transform: rotate(180deg);
            left: 8px;
        }

        .pickGuard {
            width: 20px;
            height: 60px;
            background: $rosewood;
            border-radius: 97% 3% 73% 27% / 85% 100% 0% 15%;
            top: 52px;
            left: 20px;
        }

        .soundHole {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background: $darkSpruce;
            box-shadow: $soundHole;
            top: 60px;
            left: calc(50% - 16px);
            border: 1px solid $darkBrown;
        }

        .bridge {
            width: 46px;
            height: 46px;
            background: #4b0000;
            clip-path: $acousticBridge;
            left: calc(50% - 23px);
            bottom: 3px;
        }
    }

    .strings {
        top: 80px;

        // inside .topNodes div
        .topNode {
            width: 3px;
            height: 3px;
        }

        .topNode1 {
            top: 2px;
            left: -0.5px;
        }
        .topNode2 {
            top: 2px;
            right: -0.5px;
        }
        .topNode3 {
            top: 10px;
            left: 0;
        }
        .topNode4 {
            top: 10px;
            right: 0;
        }
        .topNode5 {
            bottom: 9px;
            left: 0.5px;
        }
        .topNode6 {
            bottom: 9px;
            right: 0.5px;
        }

        .flexString {

            .string {
                height: 211px;

                .angledString {
                    width: 1px;
                    height: 12px;
                    background: $bronze;
                    position: absolute;
                    top: -10px;
                }

                .angledString1 {
                    transform: translateX(1px) rotate(10deg);
                }

                .angledString2 {
                    height: 20px;
                    top: -18px;
                    transform: translateX(-1px) rotate(-5deg);
                }

                .angledString3 {
                    height: 30px;
                    top: -28px;
                    transform: translateX(-3px) rotate(-11deg);
                }

                .angledString4 {
                    height: 30px;
                    top: -28px;
                    transform: translateX(3px) rotate(11deg);
                }

                .angledString5 {
                    height: 20px;
                    top: -18px;
                    transform: translateX(1px) rotate(5deg);
                }
                
                .angledString6 {
                    transform: translateX(-1px) rotate(-10deg);
                }

                .bottomNode {
                    height: 1px;
                    background: $white;
                    border: 1px solid $black;
                    border-radius: 50%;
                    left: -1px;
                }
            }
        }
    }
}

.guitarStand {

    .bottomBrace {
        bottom: -55px;
    }

    .stand {
        bottom: -55px;
    }
}

// SECTION electric guitar
.electricGuitar {
    position: relative;
}

.stratocaster {

    .top {

        .head {
            bottom: 73px;
            left: calc(50% - 35px);

            .topShape, .bottomShape {
                background: $guitarHead;
            }

            .topShape {
                width: 17px;
                height: 17px;
                border-radius: 50%;
                position: absolute;
                top: 1px;
                left: 20px;
            }

            .bottomShape {
                width: 70px;
                height: 60px;
                clip-path: $bottomShape;
            }
        }

        .tuningPegs, .tuningBars {
            height: auto;
        }

        .tuningPegs {
            width: 3px;
            bottom: 99px;
            left: 29px;
            transform: translate(31px, 12px) rotate(-15deg);
            
            .tuningPeg {
                margin-bottom: 4px;

                &:last-of-type {
                    margin: 0;
                }
            }
        }

        .tuningBars {
            width: 5px;
            transform: rotate(-15deg);
            bottom: 87px;
            left: 56px;

            .tuningBar {
                margin-top: 6px;
            }
        }

        .neck {
            bottom: -77px;
        }
    }

    .body {
        width: 124px;
        height: 124px;
        clip-path: $stratocasterBody;
        background: $sunburstOrange;
        background: $sunburst;
        position: absolute;
        bottom: -143px;
        left: calc(50% - 62px);
        z-index: 10;

        .guard {
            width: 100%;
            height: 100%;
            clip-path: $stratocasterPickGuard;
            background: $cream;
        }

        .pickups {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 20px;
            height: 50px;
            position: absolute;
            bottom: 35px;
            left: calc(50% - 10px);

            .pickupBar {
                width: 100%;
                height: 3px;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                background: $cream;
                border-radius: 50px;
                box-shadow: 0 0 1px $black;

                &:last-of-type {
                    transform: rotate(-10deg);
                }

                .pickup {
                    width: 2px;
                    height: 2px;
                    background: $silver;
                    border-radius: 50%;
                }
            }
        }

        .controls {
            width: 25px;
            height: 25px;
            position: absolute;
            bottom: 22px;
            left: 24px;

            .pickupSelector {
                width: 10px;
                height: 1px;
                background: $black;
                margin: 0 0 9px 5px;
                transform: rotate(-45deg);
                position: relative;

                .switch {
                    width: 4px;
                    height: 3px;
                    background: $cream;
                    border-radius: 78% 22% 22% 78% / 50% 50% 50% 50%;
                    box-shadow: 0 0 1px $black;
                    position: absolute;
                    top: -1px;
                    left: -1px;
                }
            }

            .knobs {
                display: flex;
                justify-content: space-around;
                transform: rotate(-25deg);

                .knob {
                    width: 4px;
                    height: 4px;
                    background: $cream;
                    border-radius: 50px;
                    box-shadow: 0 0 1px $black;
                }
            }
        }

        .bridge {
            width: 20px;
            height: 12px;
            background: $silver;
            border-radius: 2px 2px 2px 0;
            position: absolute;
            bottom: 23px;
            left: calc(50% - 10px);

            .tremoloBar {
                width: 5px;
                height: 5px;
                background: $silver;
                border-radius: 2px 0 0 2px;
                position: absolute;
                bottom: 0;
                left: -5px;

                .handle, .handleEnd {
                    width: 1px;
                    box-shadow: 0 0 1px $black;
                    position: absolute;
                    left: 2px;
                }

                .handle {
                    height: 20px;
                    border-radius: 20%;
                    background: $silver;
                    top: 2px;
                }

                .handleEnd {
                    height: 6px;
                    background: $cream;
                    border-radius: 50%;
                    bottom: -21px;
                }
            }
        }

        .jackInput {
            display: flex;
            align-items: center;
            width: 15px;
            height: 5px;
            background: $silver;
            border-radius: 50%;
            transform: rotate(-25deg);
            position: absolute;
            bottom: 20px;
            left: 28px;

            .input {
                width: 9px;
                height: 3px;
                background: $recordingStudioFloor;
                border-radius: 153px 50px 50px 153px / 65px 25px 25px 65px;
                margin-left: 1px;
            }
        }
    }

    .strings {
        bottom: -89px;
        
        // inside .topNodes div
        .topNode {
            width: 4px;
            height: 4px;
        }

        .topNode1 {
            bottom: -3px;
            left: -1px;
        }

        .topNode2 {
            bottom: -10px;
            left: 3px;
        }

        .topNode3 {
            bottom: -17px;
            left: 6px;
        }

        .topNode4 {
            bottom: -24px;
            right: 4px;
        }

        .topNode5 {
            bottom: -32px;
            right: 1px;
        }

        .topNode6 {
            bottom: -40px;
            right: -2px;
        }

        .flexString {
            align-items: flex-end;

            .string {
                height: 218px;

                .bottomNode {
                    
                    height: 3px;
                    background: $recordingStudioFloor;
                    border-radius: 2px;
                    box-shadow: 0 0 1px $black;
                    left: 0;
                }
            }

            .string1 {
                height: 256px;
            }

            .string2 {
                height: 248px;
            }

            .string3 {
                height: 241px;
            }

            .string4 {
                height: 233px;
            }

            .string5 {
                height: 225px;
            }
        }
    }
}

.guitarStand {

    .bottomBrace {
        bottom: -50px;
    }

    .stand {
        bottom: -50px; 
    }
}

.amp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 75px;
    background: $black;
    border-radius: 10px;
    position: absolute;
    bottom: 30px;
    left: 20px;

    .controlPanel {
        display: flex;
        align-items: center;
        width: 60px;
        height: 10px;
        border: 1px solid $white;

        .panel {
            height: 10px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            .ampKnob {
                width: 3px;
                height: 3px;
                border-radius: 50%;
                background: $silver;
            }
        }

        .panel1, .panel2 {
            width: 25%;

            .input {
                width: 2px;
                height: 2px;
                border-radius: 50%;
                border: 1px solid $silver;
            }
        }
        
        .panel2 {
            border-right: 1px solid $white;
            border-left: 1px solid $white;
        }

        .panel3 {
            width: calc(50% - 2px);

            .headphoneInput {
                width: 1px;
                height: 1px;
                border-radius: 50%;
                background: $silver;
            }
        }
    }

    .speaker {
        width: 60px;
        height: 45px;
        background: $silver;
        background: $speaker;
        border: 1px solid $silver;
    }
}