// NOTE COLOUR VARIABLES STORED IN _GLOBAL:
/*
STUDIO BACKGROUND
    $recordingStudioBackground: teal;
    $recordingStudioFloor: grey;

INSTRUMENTS <- move universal colours here

KEYBOARD
    $white: white;
    $black: black;

GUITARS <- move generic variables here
    $silver: silver;
    $rosewood: #4b0000;
    $nut: #fffdd0;
    $bronze: #b08d57;

ELECTRIC GUITAR
    $guitarHead: #e9cda5;
    $sunburstOrange: #ca731e;
    $sunburstRed: #a42012;
    $sunburstBlack: #1c0e06;
    $cream: #edece8;

*/

// SECTION acoustic and electric guitars
    // fretboard
$fretboard: linear-gradient(180deg, $rosewood 6%, $silver 6% 7%, $rosewood 7% 13%, $silver 13% 14%, $rosewood 14% 20%, $silver 20% 21%, $rosewood 21% 26%, $silver 26% 27%, $rosewood 27% 32%, $silver 32% 33%, $rosewood 33% 38%, $silver 38% 39%, $rosewood 39% 43%, $silver 43% 44%, $rosewood 44% 48%, $silver 48% 49%, $rosewood 49% 53%, $silver 53% 54%, $rosewood 54% 57%, $silver 57% 58%, $rosewood 58% 61%, $silver 61% 62%, $rosewood 62% 65%, $silver 65% 66%, $rosewood 66% 69%, $silver 69% 70%, $rosewood 70% 72%, $silver 72% 73%, $rosewood 73% 75%, $silver 75% 76%, $rosewood 76% 78%, $silver 78% 79%, $rosewood 79% 81%, $silver 81% 82%, $rosewood 82% 84%, $silver 84% 85%, $rosewood 85% 87%, $silver 87% 88%, $rosewood 88% 90%, $silver 90% 91%, $rosewood 91% 93%, $silver 93% 94%, $rosewood 94%);

// SECTION acoustic guitar variables
    // sound hole rings
$soundHole: 0px 0px 0px 2px $spruce, 0px 0px 0px 3px $darkBrown, 0px 0px 0px 4px $spruce, 0px 0px 0px 5px $darkBrown;

    // bridge
$acousticBridge: polygon(94% 26%, 6% 26%, 5% 39%, 19% 41%, 25% 45%, 33% 54%, 43% 59%, 57% 59%, 67% 54%, 75% 45%, 81% 41%, 95% 39%);

// SECTION electric guitar variables
    // guitar head bottomShape
$bottomShape: polygon(36% 25%, 50% 8%, 51% 9%, 54% 14%, 56% 23%, 70% 84%, 70% 86%, 68% 88%, 64% 91%, 62% 93%, 63% 100%, 37% 100%, 37% 92%, 36% 86%, 35% 83%, 34% 81%, 31% 79%, 30% 78%, 28% 77%, 26% 75%, 29% 66%, 35% 41%, 36% 32%, 36% 28%);

    // guitar body
$stratocasterBody: polygon(25% 50%, 24% 53%, 23% 55%, 22% 57%, 21% 59%, 20% 61%, 19% 63%, 18% 66%, 17% 69%, 16% 73%, 17% 80%, 19% 86%, 25% 93%, 33% 97%, 45% 99%, 55% 99%, 67% 97%, 75% 94%, 81% 90%, 84% 86%, 85% 84%, 86% 81%, 87% 77%, 87% 73%, 85% 67%, 83% 61%, 78% 52%, 76% 47%, 75% 38%, 76% 32%, 78% 25%, 79% 21%, 79% 17%, 79% 13%, 78% 9%, 77% 6%, 75% 3%, 73% 1%, 71% 0%, 70% 0%, 68% 1%, 67% 2%, 66% 4%, 67% 10%, 68% 15%, 67% 17%, 66% 18%, 65% 19%, 63% 20%, 61% 20%, 59% 19%, 58% 18%, 57% 17%, 56% 15%, 56% 0%, 43% 0%, 43% 25%, 42% 26%, 41% 27%, 39% 28%, 37% 28%, 35% 27%, 32% 24%, 31% 23%, 30% 22%, 29% 18%, 29% 10%, 28% 8%, 26% 7%, 25% 7%, 23% 10%, 22% 12%, 20% 16%, 19% 20%, 19% 25%, 20% 30%, 22% 35%, 25% 42%, 26% 46%);

    // sunburst paint for guitar body
$sunburst: linear-gradient(135deg, $sunburstBlack 0% 40%, transparent 46% ), linear-gradient(to right, $sunburstBlack 0% 20%, transparent 30% 75%, $sunburstBlack 82%), linear-gradient(-110deg, $sunburstBlack 0% 30%, $sunburstRed 35%, transparent 40% ),  radial-gradient( $sunburstOrange 40%, $sunburstRed 55%, $sunburstBlack 65%);

    // pickguard
$stratocasterPickGuard: polygon(27% 50%, 26% 53%, 25% 56%, 23% 60%, 22% 62%, 21% 64%, 20% 67%, 19% 70%, 18% 73%, 18% 75%, 19% 80%, 20% 81%, 21% 81%, 22% 80%, 24% 78%, 26% 77%, 28% 76%, 32% 75%, 40% 74%, 50% 74%, 62% 73%, 64% 72%, 65% 70%, 66% 66%, 65% 59%, 63% 55%, 60% 45%, 59% 37%, 60% 30%, 61% 26%, 61% 24%, 60% 22%, 59% 21%, 57% 21%, 41% 29%, 37% 30%, 35% 29%, 33% 28%, 30% 25%, 29% 24%, 28% 22%, 27% 18%, 27% 10%, 26% 9%, 25% 10%, 24% 12%, 22% 16%, 21% 20%, 21% 25%, 22% 30%, 24% 35%, 27% 42%, 28% 46%);

    // amp speaker
$speaker: repeating-linear-gradient(45deg, transparent, $recordingStudioFloor 1px), repeating-linear-gradient(-45deg, transparent, $recordingStudioFloor 1px);