// recording studio styles
.recordingStudio {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 400px;

    background: linear-gradient(to top, $recordingStudioFloor 60px, $white 60px 70px, $recordingStudioBackground 70px);
}

