// header styles
header {
    background: $lightCyan;
    text-align: center;
    padding: 50px 0;
    height: 30vh;
    border-bottom: 3px double $caputMortuum;

    h1 {
        font-family: 'Space Grotesk', sans-serif;
        font-size: 6rem;
        color: $caputMortuum;
        margin: 0 15px;
        padding-bottom: 30px;
    }

    h2 {
        display: inline-block;
        font-family: 'Indie Flower', cursive;
        font-size: 2.5rem;
        color: $spaceCadet;
        background: $white;
        padding: 10px 30px;
        margin: 10px 15px;
        border-radius: 5px;
    }
}

// instrument choices styles
.instrumentChoices {
    // display: flex;
    // padding: 20px;
    text-align: center;

    h3 {
        font-family: 'Space Grotesk', sans-serif;
        font-size: 2rem;
        color: $caputMortuum;
        padding: 20px 0;
        margin-top: 20px;
    }

    .buttons {
        display: flex;
        // flex-direction: column;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 20px 0 0;

        button {
            font-family: 'Indie Flower', cursive;
            font-size: 2rem;
            font-weight: bold;
            color: $spaceCadet;
            background: $lightCyan;
            border: 2px solid $spaceCadet;
            border-radius: 5px;
            padding: 15px 30px;
            margin: 5px;

            &:hover, &:focus {
                background: $spaceCadet;
                color: $lightCyan;
            }

            &:active {
                background: $caputMortuum;
            }
        }
    }
}


// recording studio styles
.studioContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 480px;

    .recordingStudio {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 400px;
        margin: auto;
    
        background: linear-gradient(to top, $recordingStudioFloor 15%, $white 15% 20%, $recordingStudioBackground 20%);
    }
}

// footer styles
footer {
    background: $lightCyan;
    padding: 10px;
    text-align: center;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.6rem;
    color: $caputMortuum;
    border-top: 3px double $caputMortuum;

    a {
        text-decoration: none;
        color: inherit;

        &:hover, &:focus {
            color: $white;
            text-shadow: 0 0 2px $caputMortuum;
        }
    }
}